<h1>My recommended rate of auto cashout after evaluating {{totalGames}} games is:</h1>
    {{avg}}
<br/>
<h1>I lost {{loseAmount}} times</h1>
<h1>I won {{winAmount}} times </h1>
<h1>I have in total played {{totalGames}} games</h1>

